@model Presentation.Models.ResourceVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ResourceVM</h4>
    <hr />
        <dl class="dl-horizontal">
            <dt>
                NAME
            </dt>
            <dd>
                @ViewBag.result.name
            </dd>
            <dt>
                ID
            </dt>
            <dd>
                @ViewBag.result.userId
            </dd>
            <dt>
                Skills
            </dt>
            @foreach (var item in ViewBag.skills)
            {
                <dd>
                    @item.name
                </dd>
            }

        </dl>


        <p>
            @Html.ActionLink("Edit", "Edit", new { id = @ViewBag.result.userId })
            @Html.ActionLink("Back to List", "Index")
        </p>
</div>

