
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            SkillId
        </th>
        <th>
            Category
        </th>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.result)
    {
        <tr>
            <td>
                @item.skillId
            </td>
            <td>
                @item.category
            </td>
            <td>
                @item.name
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.skillId}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.skillId })
            </td>
        </tr>
    }

</table>


