<link href="~/Content/skillsStylesheet.css" type="text/css" rel="stylesheet" />
<section id="browseCategories" class="PageJob-browse">
    <div class="col-md-4 text-center">
        <form action="@Url.Action("Create", "Skill")">
            <button class="col-md-3 btn btn-success" type="submit">New Skill</button>
        </form>
     </div>

        <div class="Container">
            <h2 class="PageJob-title">
                Browse all Skills
            </h2>
            @foreach (var cat in ViewBag.categories)
            {
                <header class="PageJob-category-heading Grid">
                    <div class="Grid-col Grid-col--tablet-7 Grid-col--desktopSmall-8">
                        <h3 class="PageJob-category-title">
                            @cat
                        </h3>
                    </div>
                </header>
                <ul class="PageJob-browse-list Grid">
                    @foreach (var item in ViewBag.result)
                    {
                        if (item.category == cat)
                        {
                            <li class="Grid-col Grid-col--6 Grid-col--tablet-4 Grid-col--desktopSmall-3" data-job-category-item="@item.name">
                                <a href="@Url.Action("Delete", "Skill", new { id=item.skillId})"><i class="fa fa-trash" style="width:10px;height:10px;"></i></a>
                                &nbsp;<a class="PageJob-category-link" href="@Url.Action("SelectBySkill", "Resource", new { skillId=item.skillId})">
                                    @item.name &nbsp;(@item.count)
                                </a>
                                
                            </li>
                        }
                    }
                </ul>
                <br />
            }
        </div>
</section>



